.benefits {
  background-color: #ffffff;
  margin-top: -9rem;
  padding: 11rem 2rem 4rem 2rem;

  &__content {
    @include vert-flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__heading {
    margin-left: -5rem;
  }

  &__text {
    font-weight: 450;
    line-height: 2.3rem;
    text-align: center;
  }
}